<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Management</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Author Management</h1>

    <div class="form-container">
        <form id="author-form" class="createForm">
            <input type="hidden" id="author-id">
            <input type="text" id="author-name" placeholder="First Name" required>
            <input type="text" id="author-surname" placeholder="Surname" required>
            <button type="submit">Išsaugoti</button>
        </form>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../app.js"></script>
</body>
</html>
